* {
    box-sizing: border-box;
    padding: 100;
    margin: 0;
}

body {
    background-color: rgba(68, 138, 108, 0.932);
}

header {
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(38, 109, 168);
    color: #ffffff;
    border-style: solid;
    text-align: left;
}

header h1 {
    font-size: 50px;
    display: inline-block;
}

header nav {
    padding-top: 20px;
    margin-left: 15px;
    float: right;
    font-family: monospace;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header-nav__list {
    background-color: rgb(38, 109, 168);
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

.header-nav__item {
    color: lightgreen;
    size: 15px;
}


.space_banner {
    height: 100px;
    width: 100%;
    background-position: center;
    display: flex;
}

.center {
    height: 210px;
    width: 100%;
}

.float-left {
    float: left;
    margin-right: 30px;
    height: 300px;
    width: 100%;
}

.luke, .servers, .professional {
    height: 18px;
    width: 50%;  
}


p {
    font-size: 17px;
    font: monospace;
}

/* 
Meatnpotatoes refers to the central content of the page.
*/

.meatnpotatoes {
    width: 75%;
    display: inline-block;
    margin-left: 150px;
}
.ice-breaker {
    background-color: rgb(180, 118, 128);
    padding: 25px;
    border-style: solid;
    border-color: honeydew;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
}

